<div class="page-header row">
  <h2 class="col-md-8 page-heading">Search the UNT Library Catalog</h2>
</div>

<div id="placeholder">
  <p>To get started, enter a search in the search box at the top of the screen, or use the facets on the left-hand side of the screen to explore the catalog.</p>
</div>